
<!-- 
 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vector for Zerotier</title>
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
  </head>
  <body>
    <div>
      <div id="networkInfo">
        <div v-for="networkName in networkNames">
          <div class="row">
            <div class="column">
              Network Name:
            </div>
            <div class="column" :data-id="networkName.id">
              <strong>{{ networkName.name }}</strong>
            </div>
            <div class="column">
              {{ networkName.id }}
            </div>
            <div class="column">
              <button v-on:click="pullDeviceInfo(networkName.id)">See Devices</button>
            </div>
          </div>
        </div>
        <div id="networkIpRange">
          <span v-for="networkIpRange in networkIpRanges">
            <div class="row">
              <div class="column">
                IP Ranges:
              </div>
              <div class="column">
                <strong>{{ networkIpRange }}</strong>
              </div>
            </div>
          </span>
        </div>
        <div class="devices" id="devices">
          <table>
            <thead>
              <tr>
                <th>
                  Device
                </th>
                <th>
                  Zerotier IP
                </th>
                <th>
                  Online / Offline
                </th>
              </tr>
              </thead>
              <tbody v-for="device in devices">
                <tr>
                  <td>{{device.name}}</td>
                  <td>{{device.ipAdd}}</td>
                  <td>{{device.status}}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/neutralino.js"></script>
    <!-- <script type="text/javascript" src="/assets/vue.js"></script> -->
    <script src="/assets/config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/app.js"></script>
    
  </body>
</html>